html{
    background:rgb(183, 205, 244);
    font-family: 'Jost', sans-serif;


}


body{
    background-color: rgb(148, 172, 231);
    width: 600px;
    margin: 0 auto;
    border: 8px solid rgb(255, 255, 255);
    padding: 0 20px 20px 20px


}

h1 {
    margin: 0;
    padding: 20px;
    border: 2px solid white;
    font-size: 60px;
    text-align: center;
}

p {
    font-size:18px;
    line-height:2;
    letter-spacing:3px;
}

li {
    font-size:18px;
    line-height:2;
    letter-spacing:3px;
}

.bold{
    font-weight: bold;


}

p.bold{
    text-decoration:underline;
}

li.bold{

    font-style:italic;

}

#plug {
    color:rgb(91, 5, 51)


}

img {
    display: block;
    width: 400px;
    margin: 0 auto;


}
iframe {
    display: block;
    width: 500px;
    margin: 0 auto;

}

.box{
    border: 3px solid white;
    padding: 20px;
    margin: 10px;
}
